.product {
    width: 18rem;
    min-height: 25.5em;
    max-height: 25.5em;
    align-items: center;
    padding: 0.2em;
    
    .product-body {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .lower-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }
    }

    .symbol {
        font-size: 10em;
    }

    .sale {
        font-size: 1.6em;
    }
    
    .price {
        text-decoration: line-through;
        font-size: 1em;
        color: gray;

        margin-top: 0em;
        margin-bottom: 1em;
        margin-right: 0.1em;
    }

    .description {
        text-align: left;
    }

    .price-block {
        display: flex;
        margin-left: auto;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}

.qty-changer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-left: -1em;
}